# Docker Compose override для добавления функций безопасности
# Использование: docker-compose -f docker-compose.yml -f docker-compose.security.yml up

services:
  nginx:
    cap_add:
      - NET_ADMIN  # Для работы с iptables!!!
    volumes:
      - ./logs:/var/log/nginx
      - ./autoban_iptables:/app/scripts:ro

  # Сервис для автоматического бана
  ban_monitor:
    build:
      context: .
      dockerfile: Dockerfile_ban_monitor
    container_name: katk_ban_monitor
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    network_mode: "service:nginx"  # Использует сетевой стек nginx
    volumes:
      - ./autoban_iptables:/app/scripts
      - ./logs:/var/log/nginx
