apiVersion: 1

datasources:
  - name: Elasticsearch-Logs
    type: elasticsearch
    access: proxy
    url: http://es01:9200
    jsonData:
      index: "applogsindex-*"
      timeField: "@timestamp"
      esVersion: "8.0.0"
      logMessageField: "message"
      logLevelField: "level"
      maxConcurrentShardRequests: 5
      includeFrozen: false
      tlsSkipVerify: true
    isDefault: true
    editable: true
