apiVersion: 1

datasources:
  - name: Elasticsearch-Logs
    type: elasticsearch
    access: proxy
    url: http://es01:9200
    database: "app-logs-*"
    jsonData:
      interval: Daily
      timeField: "@timestamp"
      esVersion: "9.0.2"
      logMessageField: "message"
      logLevelField: "level"
    isDefault: false
    editable: true